.row {
  clear: left;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  height: 25px;
  width: 25px;
  background-color: #eee;
  float: left;
}

.block {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
}

.block.square {
  background-color: green;
}

.block.bar {
  background-color: yellow;
}

.block.left-l {
  background-color: blue;
}

.block.right-l {
  background-color: red;
}

.block.left-s {
  background-color: orange;
}

.block.right-s {
  background-color: purple;
}

.block.tee {
  background-color: black;
}
